html,body {
	margin:0;
	padding:0;
	background-color:#fff
}
body {
	padding-top:2px;
	color:#000
}


#navcontainer {
	float: right;
	margin:0;
	padding:0
}
#navcontainer ul {
	
	margin: 0;
	padding: 0;
	list-style: none outside none;
}
#navcontainer ul li {
	float: left;
	margin:0;
	padding:0;
	display: inline;
}
#navcontainer ul li.leftgap {
	padding-left: 15px
}
#navcontainer ul li.rightgap {
	padding-right: 15px;
}

#navcontainer ul li img { border-style: none }
#navcontainer ul li a {
	margin:0;
	padding:0;
	border-style: none
	text-decoration: none
}
#navcontainer ul li.box {
	text-align: center
}
#navcontainer ul li a.box, #navcontainer ul li span.box {
	margin:0;
	border: 1px solid #999;
	padding-left: 3px;
	padding-right: 3px;
}
#navcontainer ul li span.box {
	color: #ccc;
}
#navcontainer p {
	margin-top: 4px;
	float: right
}


#projects {
	padding-left:20px;
	border-bottom:1px solid #33102f;
	margin:0
}
#projects li a {
	display:block;
	padding:6px 16px 2px 16px;
	*padding-top:4px;
	border:0 solid #F8F5EA;
	font-size:14px;
	color:#472210;
	text-decoration:none;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0
}
#projects li.selected a {
	color:#33102f;
	background-color:#DFDBC3;
	font-weight:bold;
	position:relative;
	top:1px;
	padding:4px 16px 4px 16px;
	border:1px solid #33102f;
	border-bottom:1px solid #DFDBC3;
	*border-top:2px solid #33102f
}
#projects li {
	float:left
}
#sections li {
	float:left
}
#sections li.profile img {
	float:left;
	margin-top:-2px;
	margin-right:5px;
	height:16px;
	width:16px;
	border:1px solid #33102F
}
#sections {
	background:#f8f5ea url('/images/admin/gradient1.png') repeat-x 0 0;
	padding-left:23px;
}
#sections li {
	padding-left:10px
}
#sections li a {
	font-size:12px;
	display:block;
	color:#472210;
	padding:8px 4px 12px 4px
}
#sections li.active a {
	color:#33102F;
	font-weight:bold;
	text-decoration:none
}
#navbuttons {
	float:right;
	position:relative;
	top:-80px;
	display:none
}
#navbuttons li a {
	display:block;
	padding:2px 8px;
	background-color:#dfdbc3;
	border:1px solid #cdc8aa;
	color:#472210;
	text-decoration:none
}
#navbuttons li {
	float:left;
	border-right:1px solid black;
	border-bottom:1px solid black;
	margin-right:16px
}
#navbuttons li:first-of-type {
	float:left;
	border-right:0 solid black;
	border-bottom:0 solid black;
	margin-right:16px
}

#projects li a,#sections li a {
	color:#323233
}
#sections a {
	text-decoration:none
}
.clearfix { zoom:1 }
.clearfix:after { content:".";display:block;height:0;clear:both;visibility:hidden }


form#set-url-name input#url {
	width:600px
}

form#approve-property fieldset dl dt {
	float:left
}
form#approve-property fieldset dl dd {
	font-weight:bold
}
